<!-- HTML -->
<template>
  <div>
    <!-- list of items stored in the data with individual remove buttons -->
    <li v-for="item in todos" :key="item.id" >
        {{item.text}}
        <button @click.prevent="removeTodo(item.id)">X</button>
    </li>
    <!-- textfield and button to add new items to the list -->
      <input v-model="newItem" v-on:keyup.enter='addItem'/>
      <button @click.prevent="addItem">Add</button>
  </div>
</template>


<!-- JAVASCRIPT -->
<script type = "text/javascript" >

/* ID of the items in the list */
let nextTodoId = 0;

export default {
  /* link to the HTML code in App.vue */
  name: "app",
  /* declaration of the data that the program holds and alters */ 
  data() {
    return {
      newItem: "",
      todos: [{ id: nextTodoId++, text: "uno" }, { id: nextTodoId++, text: "dos" }]
    };
  },
  /* Implementing methods to change the data */
  methods: {
    // add a new item to the list
    addItem: function() {
      let id = this.todos.length + 1;
      if (this.newItem !== "") {
        const newList = {id: nextTodoId++, text: this.newItem};
        this.todos.push(newList);
        this.newItem = "";
      }
    },
    //remove an existing item from the list
    removeTodo(idToRemove) {
      this.todos = this.todos.filter(todo => {
				return todo.id !== idToRemove
			})
      nextTodoId--;
    }
  }
};
</script>


<!-- CSS -->
<style>
</style>
